body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 50px;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	font-size: 15px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom:30px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.navbar {
	margin-bottom: 20px;
}
h1 {
	font-size: 50px;
	/* margin-top: 0px; */
}

p {
	font-size: 20px;
	text-align: justify;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 50px;
}

section h2 {
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
}

.gallery {
	display: flex;
	justify-content: space-between;
	}

.gallery img {
	width: 300px;
	}

form {
	margin: 0 auto;
	width: 300px;
	}


h1 {
	font-size: 32px;
	margin-bottom: 20px;
	text-align: center;
	}

label {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	}

input[type="text"] {
	border: 2px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	padding: 12px 20px;
	width: 100%;
	}

input[type="submit"] {
	background-color: #ff7f50;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
	padding: 12px 20px;
	width: 100%;
	}

input[type="submit"]:hover {
	background-color: pink;
	}

.container {
	display:flex;
}

.expect {
	margin-left: 50px;
}

.signup, .expect {
	/* display: flex; */
	/* align-items:center; */
	border: solid 1px #333;
	padding: 25px;
	color:#fff;
	background-color:#333;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
}

